body{
    background-color: white;
    

}

header{
    text-align: center;
}

div{
    position: relative;
    height: 300px;
    width: 4400;
    background-color: yellow;
    

}
   
    #container{
       
        position: absolute;
        height: 200px;
        width: 600px ;
        background-color: red;
        left: calc(50%);
        top: calc(50%);
        transform: translate(-50%, -50%);
        font-family: 'Montserrat', sans-serif; 
  font-weight: 700; 
  font-size: 2em;

            
    }

    #bolsa{
        background-color: lightgray;
        position: absolute;
        height: 700px;
        width: 500px;
     

    }
    
 h2{
    color: red;
 }

 #monitor{

    background-color: lightgray;
    position: absolute;
    height: 700px;
    width: 500px;
    left: 511px;
    
    
}

#mouse{
    background-color: lightgray;
    position: absolute;
    height: 700px;
    width: 500px;
    left:1014px;
    

}

#teclado{
    background-color: lightgray;
    position: absolute;
    height: 700px;
    width: 500px;
    left: 1518px;
   

}

#headset{
    background-color: lightgray;
    position: absolute;
    height: 700px;
    width: 500px;
    left: 2025px;

}


   
    
     



