body{
    background-color:white;

}

header{
    text-align: center;
}

div{
    position: relative;
    height: 300px;
    padding: 222;
    background-color: yellow;
    background-size: 100%;
   
}
#container{
    position: absolute;
    height: 100px;
    width: 400px ;
    background-color: red;
    left: 50%;
    top: 50%;
    background-size: 100%;
    
}


