body{
    background-color:white;

}

header{
    text-align: center;
}

div{
    position: relative;
    height: 300px;
    padding: 222;
    background-color: yellow;
    
   
    #container{
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        height: 100px;
        width: 400px ;
        background-color: red;
        left: calc(50%);
        top: calc(50%);
        transform: translate(-50%, -50%);

       
        
    }

    #charset{
        background-color: beige;
    }
}


